PORT = 8080

#Database connection
DB_HOST=db ip
DB_PORT=3306
DB_USER=db user
DB_PASS=db pass
DB_NAME = db name

#JWT
JWT_SECRET_KEY = your secret
JWT_EXPIRES = 8600m

#Node environment
NODE_ENV = development

#Cookie
COOKIE_EXPIRES = 86000000

#Node Mailer
SMTP_HOST = Your smtp host
SMTP_PORT = 587
SMTP_USER = Your email
SMTP_PASS = Your pass

#AWS-SNS
AWS_ACCESS_KEY_ID = "Your aws access key id"
AWS_SECRET_ACCESS_ID = "your aws secret access id"
AWS_REGION = us-east-1