.tweetCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}


.profilePic{
    width: 100px;
    text-align: center;
}

.profilePic > img {
    border-radius: 50px;
}

.rightSide{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topSide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


