.tweetCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    z-index: -1;
}


.profilePic{
    width: 100px;
    text-align: center;
}

.profilePic > img {
    border-radius: 50px;
}

.rightSide{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topSide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottomSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid rgb(47, 51, 54);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.tweetIcons > div{
    display: flex;
    align-items: center;
}

.tweetIcons > div > .iconValue{
    margin-left: 0.3rem;
}

.tweetIcons{
    width: 100%;
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


