.boxWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0rem;
    transition-duration: 0.5s;
    border-radius: 20px;


}

.boxWrapper:hover{
    background-color:rgba(53, 51, 51, 0.8);
    cursor: pointer;
}

.boxWrapper > .profilePicture{
    width: 30%;
    display: flex;
    justify-content: center;
    
}

.profilePicture > img {
    border-radius: 50%;
}


.boxWrapper > .middleSection{
    width: 50%;
    padding: 0rem 0.5rem;
}


.boxWrapper > .icon{
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
}